html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
:root {
  --color-shadow-dark: 6, 13, 34;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
body {
  background-color: #03001c;
}

.container-1 {
  width: 100%;
  align-items: center;
  padding: 0 5%;
  height: 10vh;
  display: flex;
  color: #fff;
  justify-content: space-between;
  z-index: 2;
}
h1 {
  position: relative;
  color: #222;
}
h1::before {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 171.183px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #fff;
  animation: ani 4s linear infinite;
  filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}
@keyframes ani {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
nav {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
nav ul li {
  display: inline-block;
  align-items: center;
  margin-right: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px;
  border-color: #e5680e;
  margin: 20px;
}
.container-2 {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

#video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(3.6px);
  -webkit-filter: blur(3.6px);
}

.active {
  background: rgba(255, 255, 255, 0.8);
}
.search-input {
  position: absolute;
  padding: 0.9rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-decoration: none;
  width: 600px;
  height: 3.5rem;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  border-radius: 40px;
  letter-spacing: 2px;
  transition: 0.5s;
}
.search-output {
  position: absolute;
  top: 50%;
  left: 64%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #e5680e;
  border-radius: 40px;
  height: 3.5rem;
  width: 100px;
  border: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.3px;
}
nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline;
  align-items: center;
  justify-content: center;
  border: 2px solid #e5680e;
  border-radius: 20px;
  margin: 10px 20px;
  padding: 15px;
  width: 110px;
  height: 50px;
}
.a1 {
  position: absolute;
  top: 3.8%;
  right: 24.6%;
}
.a2 {
  position: absolute;
  top: 3.8%;
  right: 16.6%;
}
.a3 {
  position: absolute;
  top: 3.8%;
  right: 8%;
}
.search-input:hover {
  background: rgba(255, 255, 255, 0.8);
}
.search-input:focus {
  background: rgba(255, 255, 255, 0.8);
}

/* ====================================================================== */
.container-3 {
  width: 100%;
  height: 100vh;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 10rem;
  height: 4.5rem;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  letter-spacing: 2px;
  filter: drop-shadow(0, 0, 20px, #3af5fb);
  cursor: pointer;
}
.hidden {
  display: none !important;
}
/* ==================AFTER BUTTON CLICK================== */
.after-search {
  max-width: 100%;
  height: 100vh;
  color: #fff;
  font-size: 2.5rem;
}
.after-search-button-content {
  width: 100%;
  height: 14vh;
}
.after-search-btn {
  position: relative;
  top: 2rem;
  left: 2rem;
  width: 10rem;
  height: 4.5rem;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  letter-spacing: 2px;
  filter: drop-shadow(0, 0, 20px, #3af5fb);
  cursor: pointer;
}
.after-search-content {
  width: 100%;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 60%;
}
.quote {
  position: relative;
  margin-left: 4rem;
}
.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5rem;
  width: 40%;
  height: 60%;
}

.anime-pic {
  border-radius: 10px;
  width: 350px;
  height: auto;
}
/* ===============SEARCH RESULT=================== */
.container-4 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* SHOWS HORIZONTAL SCROLL PROBLEM FIXED AND SPACING OF SHOW, TITLE FIXED ===================*/
.container-4-subheader {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.anime {
  flex-basis: 14.28%;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-pic {
  border-radius: 10px;
  width: 200px;
  height: auto;
}
.show-name {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}
/* ====================================================================================== */
.container-5 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
}
.banner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 41.2796697626419vh;
  z-index: 1;
}
.banner-img {
  position: absolute;
  width: auto;
  border-radius: 10px;
  max-height: 41.2796697626419vh;
  background: linear-gradient(
    180deg,
    rgba(6, 13, 34, 1) 40%,
    rgba(6, 13, 34, 1)
  );
 
}
.information-image-content {
  width: 100%;
  height: 50vh;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.search-size {
  position: relative;
  width: 20% !important;
}
.image-c5 {
  position: absolute;
  background-color: rgba(212, 230, 245, 0.5);
  border-radius: 2px;
  box-shadow: 0 0 29px rgba(49, 54, 68, 0.25);
  margin-top: 15px;
  width: 215px;
  height: auto;
  margin-bottom: 58px;
  border-radius: 20px;
  left: 25%;
  z-index: 1;
  box-shadow: 0px 5px #2b2850b6;
}
.search-a
{
  cursor: pointer;
}
.information-image-content div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  flex: left;
}
.information-c5 
{
  background-color: #2b2850b6;
  border-radius: 10px;
  padding: 10px ;
  font-size: 1.1rem;
  color: #fff;
}
.container-other-info
{
  color: #fff;
  width: 80%;
  padding-left: 100px;
  padding-right: 100px;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2b2850b6;
  border-radius: 10px;
}
.container-other-info div
{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.other-info-heading
{
  color: #3af5fb;
}
.cast
{
  width: 100%;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cast2
{
  border-radius: 20px;
  flex-basis: 50%;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  height: 100%;
  font-size: 14px;
  
}
.characterDiv
{
  /* background-color: #34386281; */
  flex-basis: 10.28%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}
.characterImg
{
  width: 50%;
  border-radius: 10px;
  height: auto;
}
.characterSpan
{
  display: flex;
  flex-direction: column;
  color: #3af5fb;
}
/* .content{
  position: relative;
}
.content h2
{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 100px;
}
.content h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2)
{
    color: #03a9f4;
    -webkit-text-stroke: 2px #03a9f4;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%
    {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 66% 50%, 82% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
} */
