html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background-color: #03001c;
}

:root {
  --color-shadow-dark: 6, 13, 34;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.container-1 {
  width: 100%;
  align-items: center;
  padding: 0 5%;
  height: 10vh;
  display: flex;
  color: #fff;
  justify-content: space-between;
  z-index: 2;
}
h1 {
  position: relative;
  color: #222;
}
h1::before {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 171.183px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #fff;
  animation: ani 4s linear infinite;
  filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}
@keyframes ani {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.fa-brands {
  font-size: 35px;
}
.social-media {
  margin-top: 30px;
}

.social-media a {
  text-decoration: none;
  margin-right: 15px;
  display: inline-block;
  color: #ababab;
  transition: transform 0.5s;
}

.social-media a:hover {
  color: #fff;
  filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
  transform: translateY(-5px);
}


.container-2 {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

#video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: blur(3.6px);
  filter: blur(3.6px);
}

.active {
  background: rgba(255, 255, 255, 0.8);
}
.search-input {
  position: absolute;
  padding: 0.9rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-decoration: none;
  width: 35%;
  height: 6%;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  outline: none;
  border-radius: 40px;
  letter-spacing: 2px;
  transition: 0.5s;
}
.search-output {
  position: absolute;
  top: 50%;
  left: 64%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #e5680e;
  border-radius: 40px;
  height: 6%;
  width: 10%;
  border: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.3px;
}
nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline;
  align-items: center;
  justify-content: center;
  border: 2px solid #e5680e;
  border-radius: 20px;
  margin: 10px 20px;
  padding: 15px;
  width: 110px;
  height: 50px;
}
.a1 {
  position: absolute;
  top: 3.8%;
  right: 24.6%;
}
.a2 {
  position: absolute;
  top: 3.8%;
  right: 16.6%;
}
.a3 {
  position: absolute;
  top: 3.8%;
  right: 8%;
}
.container-search{
  display: none;
}
.search-input:hover {
  background: rgba(255, 255, 255, 1);
}
.search-input:focus {
  background: rgba(255, 255, 255, 1);
}

/* ====================================================================== */
.container-3 {
  width: 100%;
  height: 100vh;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 10rem;
  height: 4.5rem;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  transition: transform 0.5s;
  transition: filter 0.5s;
}
.btn:hover
{
  filter: drop-shadow(0 0 20px #fff);
  transform: translateY(-5px);
}
.hidden {
  display: none !important;
}
/* ==================AFTER BUTTON CLICK================== */
.after-search {
  max-width: 100%;
  height: 100vh;
  color: #fff;
  font-size: 2.5rem;
}
.after-search-button-content {
  width: 100%;
  height: 14%;
}
.after-search-btn {
  position: relative;
  top: 2rem;
  left: 2rem;
  width: 10rem;
  height: 4.5rem;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  letter-spacing: 2px;
  filter: drop-shadow(0, 0, 20px, #3af5fb);
  cursor: pointer;
}
.after-search-content {
  width: 100%;
  height: 87%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.after-search-quote-image-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 100%;
}
.after-search-anime-name {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 10vh;
  padding-bottom: 0px;
}
.anime-name {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  filter: drop-shadow(0 0 20px #fff);
  padding-bottom: 50px;
}

.after-search-quote-image-name-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  grid-gap: 0px;
  width: 80%;
  height: fit-content;
  background-color: #2b2850b6;
  border-radius: 15px;
  padding: 30px;
  align-items: center;
}

.parent-anime-pic {
  grid-row: 1 / span 2;
}

.anime-pic {
  width: 69%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 10px 5px rgba(255, 255, 255, 0.524);
}

.quote {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.char-name {
  font-size: 18px;
  color: white;
}

/* ===============SEARCH RESULT=================== */
.container-4 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* SHOWS HORIZONTAL SCROLL PROBLEM FIXED AND SPACING OF SHOW, TITLE FIXED ===================*/
.container-4-subheader {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.anime {
  flex-basis: 14.28%;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-pic {
  border-radius: 10px;
  width: 200px;
  height: auto;
}
.show-name {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}
/* ====================================================================================== */
.container-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.banner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 41.2796697626419vh;
  z-index: 1;
}
.banner-img {
  position: absolute;
  width: auto;
  border-radius: 10px;
  max-height: 41.2796697626419vh;
  background: linear-gradient(
    180deg,
    rgba(6, 13, 34, 1) 40%,
    rgba(6, 13, 34, 1)
  );
}
.header
{
  position: relative;
}
footer {
  width: 100%;
  background-color: #262626;
  font-size: 12px;
  height: 4vh;

}

footer .contain {
  display: flex;
  color: #aaaaaa;
  justify-content: center;
  align-items: center;
}

/* !==================================================================== */
.sense
{
  display: none;
  width: 100%;
  max-width: 280px;
  min-height: 250px;
  height: 800px;
  overflow: hidden;
  position: absolute;
  left: 0%;
  top: 30%;
}
.information-image-content {
  width: 100%;
  min-height: 250px;
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 237px auto;
  align-items: center;  
  margin-top: 20px;
}
.information-image-content
{
  margin-left: 100px;
  min-width: 320px;

}


/* !====================================================================== */
.search-size {
  position: relative;
  width: 20% !important;
  height: fit-content;
}
.image-c5 {
  position: absolute;
  background-color: rgba(212, 230, 245, 0.5);
  border-radius: 2px;
  box-shadow: 0 0 29px rgba(49, 54, 68, 0.25);
  margin-top: 15px;
  width: 215px;
  height: auto;
  margin-bottom: 58px;
  border-radius: 20px;
  left: 25%;
  z-index: 1;
  box-shadow: 0px 5px #2b2850b6;
}
/* !============================================================= */
.search-a {
  cursor: pointer;
}
.information-image-content div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  flex: left;
}
.information-c5 {
  background-color: #2b2850b6;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  color: #fff;
}
.container-other-info {
  color: #fff;
  width: 80%;
  padding-left: 100px;
  padding-right: 100px;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2b2850b6;
  border-radius: 10px;
  margin-top: 40px;
}
.container-other-info div {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.other-info-heading {
  color: #3af5fb;
}
.cast {
  width: 100%;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cast2 {
  border-radius: 20px;
  flex-basis: 50%;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  height: 100%;
  font-size: 14px;
}
.characterDiv {
  flex-basis: 10.28%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}
.characterImg {
  width: 50%;
  border-radius: 10px;
  height: auto;
}
.characterSpan {
  display: flex;
  flex-direction: column;
  color: #3af5fb;
}
.button-js
{
  color: #fff;
  width: 150%;
  z-index: 1;
  border-radius: 50%;
  transition: transform 0.5s;
  
}
.button-js:hover
{
  filter: drop-shadow(0 0 20px #fff);
  transform: translateY(-5px);
}
@media only screen and (max-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
  }
  .container-1 {
    width: 100%;
    align-items: center;
    padding: 15px;
    height: 10%;
    display: flex;
    color: #fff;
    justify-content: space-between;
  }
  .container-search
  {
    display: block;
  }
  .left {
    font-size: 1rem;
  }
  .right {
    display: none;
  }
  /* ===================================================== */
  .container-2 {

    width: 100%;
    height: 90%;

  }
  #video {
    height: 100vh;
    width: auto;
    position: relative;
    top: 50%;
    left: 35%;
    display: none;
  }
  
  .container-video
  {
    height: 100%;
    width: auto;
    -webkit-filter: blur(3.6px);
    filter: blur(3.6px);
    overflow-y: hidden;
  }
  .search-input {
    width: 80%;
    height: 6%;
    
  }
  .search-output {
    height: 6%;
    left: 82%;
    width: 26%;
  }
  .search-input::placeholder {
    content: "Search anime/genre" !important;
  }
  /* ===================================================== */
  .container-3
  {
    width: 100%;
    height: 100vh;
    
  }
  .container-search
  {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .after-search-btn {
    position: relative;
    width: 10rem;
    height: 3.5rem;
  }
  .after-search-anime-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }
  .anime-name {
    width: 90%;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .after-search-quote-image-name {
    width: 90%;
  }
  .after-search-quote-image-name-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    width: 100%;
    height: fit-content;
    background-color: #2b2850b6;
    border-radius: 15px;
    padding: 30px;
    align-items: center;
  }
  .quote {
    font-size: 19px;
  }
  .parent-anime-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
  .anime-pic {
    position: relative;
    width: 33%;
    height: auto;
    align-items: center;
  }
  /* ======================================= */
  .container-4 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    align-content: center;
    justify-content: center;
  }
  .show-name {
    font-size: 15px;
  }
  /* ========================================= */
  .banner {
    height: 210px;
  }
  .banner-img {
    width: auto;
    height: 210px;
  }
  .information-image-content {
    width: 100%;
    height: fit-content;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
  .information-image-content div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex: left;
  }
  .search-size {
    position: relative;
    width: 120px;
    margin-top: -20px;
    margin-bottom: 30px;
  }
  .image-c5 {
    position: relative;
    margin: 0;
    background-color: rgba(212, 230, 245, 0.5);
    border-radius: 2px;
    box-shadow: 0 0 29px rgba(49, 54, 68, 0.25);
    width: 124px;
    height: auto;
    border-radius: 20px;
    left: 0;
    z-index: 1;
    box-shadow: 0px 5px #2b2850b6;
  }
  .space-between-two-containers {
    width: 100%;
    padding: 40px;
  }
  .container-other-info {
    
    width: 90%;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0px;
    
  }
  .container-other-info div {
    padding: 20px;
    width: 110%;
    height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 13px;
  }
  /* ================================================= */
  .cast2
  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-basis: 50%;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    font-size: 14px;
  }
  .characterDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
  }
  .characters-cast
  {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .button-js
  {
    display: none;
  }
}

